<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUfq-5DfFyRvKuv-VgeShBfpvxJgFx7EI</string>
	<key>GCM_SENDER_ID</key>
	<string>1026964767952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.superteam.sponsorin.sponsorin</string>
	<key>PROJECT_ID</key>
	<string>sponsorin-c484a</string>
	<key>STORAGE_BUCKET</key>
	<string>sponsorin-c484a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026964767952:ios:9bd39cf42e8d7d6ac5cad5</string>
</dict>
</plist>